@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
body {
  background-color: #0a0a0a; /* dark background */
}
.bg-striped {
  background-color: #0a0a0a; /* dark background */
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px
  );
  background-size: 20px 100%;
}

button {
  text-transform: capitalize;
  font-weight: 600;
}